<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<div class="page-header">
  <h1>People</h1>
</div>

<ul class="people">
  <% @people.each do |person| %>
    <li id="<%= person.domain %>">
      <%= render person %>
    </li>
  <% end %>
</ul>
