<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= render @person %>
  </div>

  <div class="col-xs-12">
    <h2 class="h4" id="h-card">h-card code</h2>
    <p>
      You can copy this HTML and paste it into your personal website's markup.
      In the header, footer, sidebar, wherever you want!
    </p>
    <pre class="language-html"><%= h_card_code(@person) %></pre>
  </div>
</div>
