<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<% @people.each do |person| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render person %>
    </div>

    <%= render "people/h_card", person: person %>
  </div>
<% end %>
