<h1>h-card as a service</h1>

<p class="alert alert-danger">
  This is just a prototype to test out an idea.
  This website will not stay at this domain forever.
  <b>Do not expect its URLs to last.</b>
</p>

<p class="alert alert-info">
  The code that powers this site can be found on GitHub at:
  <b><%= link_to "github.com/veganstraightedge/h-card-as-a-service", "https://github.com/veganstraightedge/h-card-as-a-service" %></b>.<br>
  Feel free to fork it, submit issues, send pull requests or
  <b><a href="https://heroku.com/deploy?template=https://github.com/veganstraightedge/h-card-as-a-service">deploy it to Heroku</a>.</b>
</p>
