@import "bootstrap-sprockets";
@import "bootstrap";
@import "syntax_highlighting";

body {
  margin: 1em auto 10em auto;
}

nav[role=navigation] {
  margin-bottom: 1em;
}

.h-card {
  .u-photo {
    max-width: 200px;
  }
}


.actions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: right;

  .cancel {
    opacity: .5;
  }

  .btn {
    margin-left: 1rem;
  }
}
